.nav {
    &__menu {
        padding-top: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 900px) {
            padding: 0;
            flex-direction: row;
            gap: 19px;
            margin-bottom: 20px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 12px;
        position: relative;
        min-height: 32px;
        color: $color-tangaroa;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        @media (max-width: 900px) {
            background-color: $color-white;
            color: $color-black;
            padding: 16px;
            border-radius: 30px;

            &::after {
                content: none;
                width: 0;
                height: 0;
            }
        }

        &--active {
            &::before {
                content: "";
                background-color: $color-white;
                position: absolute;
                min-width: 290px;
                min-height: 100%;
                height: 50px;
                right: 0;
                padding-left: 30px;
                margin-right: -30px;
                z-index: 0;

                @include vp-1280 {
                    margin-right: -20px;
                }

                ;
            }

            @media (max-width: 900px) {
                background-color: $color-burnt-orange;
                color: $color-white;
                padding: 10px 16px;

                &::before {
                    content: none;
                }
            }

            & .nav__link-text,
            & svg {
                position: absolute;
                z-index: 2;

                @media (max-width: 900px) {
                    position: static;
                    z-index: 1;
                }
            }

            & .nav__link-text {
                padding-left: 44px;

                @media (max-width: 900px) {
                    padding: 0;
                }
            }
        }

        &-text {
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0.04em;

            @media (max-width: 460px) {
                font-size: 14px;
                line-height: 12px;
            }
        }
    }
}