.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 570px;

    @media (max-width: 600px) {
        width: 350px;
    }

    @media (max-width: 400px) {
        width: 310px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 450px;
        width: 100%;
        padding: 32px;
        box-shadow: 0px 1px 5px 20px #64515b05;
        background-color: $color-white;
        border-radius: 20px;

        @media (max-width: 600px) {
            max-width: 350px;
        }
    }

    &__btn {
        width: 100%;
        padding: 14px;
        background-color: $color-royal-blue;
        color: $color-white;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        border-radius: 60px;

        &:hover {
            background-color: $color-free-speech-blue;
        }
    }

    &__heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin: 0 0 12px;

        @media (max-width: 600px) {
            font-size: 20px;
            line-height: 24px;
            margin: 0 0 8px;
        }

    }

    &__link {
        color: $color-royal-blue;
        font-size: 16px;

        &:hover {
            color: $color-free-speech-blue;
        }
    }
}