@font-face {
  font-family: "Actor";
  src: url("../../fonts/Actor-Regular.woff2") format("woff2"),
  url("../../fonts/Actor-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}