*,
*::after,
*::before {
    box-sizing: border-box;
}

html:has(.modal-error-play-track-body) {
    overflow-y: hidden;
}

body {
    font-family: $ff-main;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 0;
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    background-color: $color-white;
    color: $color-tangaroa;

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        background-color: $color-white-smoke;
    }

    &.auth {
        background: linear-gradient(90deg, #EDE7E7 0%, #EDF4FD 68.47%, #E5E9F5 100%);
        display: flex;
        flex-direction: column;

        main {
            display: flex;
            padding: 0;
            margin: auto 0;
        }
    }

    &.play {
        main {
            margin-bottom: 100px;
        }
    }

    &.modal-after-register-body {
        overflow-x: hidden;

        &::before {
            content: '';
            display: flex;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: brightness(0.5);
            background: $color-white-smoke;
        }

        .login {
            box-shadow: none;
            filter: brightness(0.5);
            pointer-events: none;
            user-select: none;
        }
    }

    &.modal-error-play-track-body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: radial-gradient(ellipse at center, #2c3e50 0%, #34495e 50%, #2c3e50 100%);
        overflow-x: hidden;
    }
}

main {
    padding: 0 0 20px;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

table {
    border-spacing: 0;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}