$ff-main: "Actor", sans-serif;

/* COLORS */
$color-nero: #171717;
$color-tangaroa: #11253D;
$color-white: #FFFFFF;
$color-white-1: #ffffff4d;
$color-white-2: #ffffff80;
$color-white-3: #ffffffcc;
$color-black: #000000;
$color-black-1: #0000001a;
$color-black-2: #00000066;
$color-black-3: #0000000d;
$color-white-smoke: #F5F5F5;
$color-dark-gray-1: #AAAAAA;
$color-dark-gray-2: #A4A4A4;
$color-whisper: #E8E8E8;
$color-azure: #ecf0f1;
$color-heather: #bdc3c7;
$color-madison: #2c3e50;
$color-madison-1: #2c3e50e6;
$color-cello: #34495e;
$color-manatee: #8F939F;
$color-raven: #6c757d;
$color-your-pink: #f9c4c2;
$color-snow: #fffbfb;
$color-solitude: #e9ecef;
$color-periwinkle: #cdcfde;
$color-free-speech-blue: #3356D7;
$color-royal-blue: #476BF0;
$color-curious-blue: #2980b9;
$color-pattens-blue: #dee2e6;
$color-alice-blue: #f8f9fa;
$color-summer-sky: #3498db;
$color-summer-sky-1: #3498db66;
$color-summer-sky-2: #3498db80;
$color-endeavour: #21618c;
$color-perano: #A0B4FF;
$color-sunset-orange: #f6514b;
$color-red-orange: #FF2B2B;
$color-burnt-orange: #FC6D3E;
$color-red-orange: #FF2B2B;
$color-cinnabar: #e74c3c;
$color-cinnabar-2: #e74c3c4d;
$color-gamboge: #f39c12;
$color-tahiti-gold: #e67e22;
$color-chateau-green: #28a745;

/* VIEWPORTS */
$vp-tablet: 1280px;
$vp-mobile: 767px